<%for(var i =0,l=list.length;i<l;i++){
  var item = list[i];
%>
  <div class="comment-one comment<%-item.id%>">
    <div class="comment-one-aside"><%-striker.util.getNowTime(item.updateTime)%></div>
    <div class="comment-one-info">
      <div class="info-title">发帖 <%-item.creatorName%></div>
      <div class="info-action">
          <div class="info-action">
            <span class="edit" data-action="edit" data-id="<%-item.id%>"><span></span>编辑</span> <span class="delete"  data-action="delete" data-id="<%-item.id%>"><span></span>删除</span> <span class="up" data-id="<%-item.id%>" data-action="setup" data-status="<%-item.isStar%>"><span></span><%if(item.isStar){%>已赞<%}else{%>赞<%}%></span> <span class="up" data-id="<%-item.id%>" data-action="collect"  data-status="<%-item.isCollect%>"><span></span><%if(item.isStar){%>取消收藏<%}else{%>收藏<%}%></span> <span class="post" data-action="replay" data-id="<%-item.id%>" data-cname="<%-item.creatorName%>"><span></span>回复</span>
          </div> 
      </div>          
      <dl class="comment-dl">
        <dt><%-item.title%></dt>
        <dd>
          <%-item.content%>
        </dd>
        <%if(item.resource){%>
        <div class="comment-img-list">
          <%
            for(var j=0,m=item.resource.length;j<m;j++){
              var obj = item.resource[j];
              
              if(obj.type === 1){
          %>
            <div>
              <img src="/cgi/resource/preview?id=<%-obj.id%>" width="200" />
            </div>
          <%}}%>
        </div>
        <%}%>
    </div>
  </div>
<%}%>