<%for(var i =0,l=list.length;i<l;i++){
  var item = list[i];
%>
  <article class="artice-one">
    <aside class="artice-one-aside"><%-striker.util.getNowTime(item.updateTime)%></aside>
    <div class="artice-one-info">
      <div class="info-title">发帖 <%-item.creator%>   最后回复 <%-item.updator%></div>
      <div class="info-action">
        <span class="fui-check-circle">赞</span> <span class="fui-chat">回复</span>
      </div>          
      <dl class="artice-dl">
        <dt><a href="article.html?id=<%-item.id%>"><%-item.title%></a></dt>
        <dl>
          <%-item.content%>
        </dl>
        <%if(item.imgnum>0){%>
        <div class="artice-img-list">
          <%
            var first = true;
            for(var j=0,m=item.resource.length;j<m;j++){
              var obj = item.resource[j];
              
              if(obj.type === 1){
          %>
            <div>
              <img src="/cgi/resource/preview?id=<%-obj.id%>" width="200" />
              <%
                if(first){
                  first = false;
              %>
              <span>共<%-item.imgnum%>张</span>
              <%}%>
            </div>
          <%}}%>
        </div>
        <%}%>
    </div>
  </article>
<%}%>