    <%
    	for(var i = 0,l=list.length;i<l;i++){
    		var item = list[i];
    %>
      <dl class="art-list">
        <dt><a href="/info.html?id=<%-item.id%>"><%-item.title%></a></dt>
        <dd>创建人 <%-item.creator%> 创建时间 <%-striker.util.formatTime(item.createTime)%> 最近更新 <%-striker.util.formatTime(item.updateTime)%> 主题资源 86 22个成员 209个帖子 <%-item.updator%>个资源</dd>
      </dl> 
    <%}%>