<%for(var i =0,l=list.length;i<l;i++){
	var item = list[i];
%>
<li class="item" data-start="<%-item.start%>" data-end="<%-item.end%>">
	<div>
		<%-time(item.start)%>
		-
		<%-time(item.end)%>
		 <%-item.name%>
	</div>	
	<p><%-item.mark%></p>
</li>
<%}%>